@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="article-section">
    <div class="container">
        <div class="upper-texts">
            <p class="red-text">Article & News</p>
            <div class="btn-flex">
                <h1 class="team-title">Get Every Single Articles & News</h1>
                <a class="btn-transparent" href="#">Browse Articles <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="article-carusel">
            <a href="#" class="article-box">
                <img src="/images/pictures/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">How To Use Digitalization In The Classroom</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">25</h5>
                    <p class="month">Mar</p>
                </div>
            </a>
            <a href="#" class="article-box">
                <img src="/images/pictures/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">How To Implement Chat GPT In Your Projects</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">17</h5>
                    <p class="month">Mar</p>
                </div>
            </a>
            <a href="#" class="article-box">
                <img src="/images/pictures/kobu-agency-ipARHaxETRk-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">The Guide To Support Modern CSS Design</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">13</h5>
                    <p class="month">Mar</p>
                </div>
            </a>
        </div>
        <div class="carousel-dots">
            <span class="dot"><i class="fa-duotone fa-circle"></i></span>
            <span class="dot"><i class="fa-duotone fa-circle"></i></span>
            <span class="dot"><i class="fa-solid fa-circle"></i></span>
            <span class="dot"><i class="fa-duotone fa-circle"></i></span>
            <span class="dot"><i class="fa-duotone fa-circle"></i></span>
        </div>
    </div>
</section>