@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

<!-- Company logos START-->

<section class="companies">
    <div class="container">
        <div class="company-logos">
            @{
                var brandImages = Model.Value<IEnumerable<MediaWithCrops>>("brandImages");
                foreach (var entry in brandImages)
                {
                    <img src="@entry.MediaUrl()" alt="" />
                }
            }
        </div>
    </div>
</section>

<!-- Company logos END -->