@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="choose-us-section">
    <div class="container">
        <div class="left">
            <p class="red-text">Why Choose Us</p>
            <h1 class="choose-us-title">Why We Are The Best Business Consulting Agency</h1>
            <div class="boxes">
                <div class="box-icon">
                    <i class="fa-regular fa-thumbs-up"></i>
                </div>
                <div class="box-texts">
                    <h3 class="box-title">Process Excellence</h3>
                    <p class="box-text">Lorem, ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="boxes">
                <div class="box-icon">
                    <i class="fa-solid fa-bullseye"></i>
                </div>
                <div class="box-texts">
                    <h3 class="box-title">Strategic Planning</h3>
                    <p class="box-text">Lorem, ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="boxes">
                <div class="box-icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </div>
                <div class="box-texts">
                    <h3 class="box-title">Experience Design</h3>
                    <p class="box-text">Lorem, ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="boxes">
                <div class="box-icon">
                    <i class="fa-light fa-head-side-gear"></i>
                </div>
                <div class="box-texts">
                    <h3 class="box-title">Artificial Inteligence</h3>
                    <p class="box-text">Lorem, ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="/src/images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="">
        </div>
    </div>
    <div class="background-box"></div>
</section>