@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="projects-section">
    <div class="container">
        <div class="project-text">
            <p class="red-text">Project & Case Studies</p>
            <h1 class="project-title">Let’s Looks Our Global Projects</h1>
        </div>
        <div class="project-grid">
            <div class="grid-box">
                <img src="/src/images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg" alt="">
                <h3 class="project-text">Grow your business</h3>
                <div class="line"></div>
                <div class="read-more">
                    <a href="#">Read More <i class="fa-regular fa-arrow-up-right"></i></a>
                </div>                    </div>
            <div class="grid-box">
                <img src="/src/images/marek-levak-zANXcXyByos-unsplash.jpg" alt="">
                <h3 class="project-text">Why your client needs a responsive website</h3>
                <div class="line"></div>
                <div class="read-more">
                    <a href="#">Read More <i class="fa-regular fa-arrow-up-right"></i></a>
                </div>                    </div>
            <div class="grid-box">
                <img src="/src/images/oli-dale-xjSkI_seiZY-unsplash.jpg" alt="">
                <h3 class="project-text">Educate your employees to get better results</h3>
                <div class="line"></div>
                <div class="read-more">
                    <a href="#">Read More <i class="fa-regular fa-arrow-up-right"></i></a>
                </div>                    </div>
            <div class="grid-box">
                <img src="/src/images/carlos-muza-hpjSkU2UYSU-unsplash.jpg" alt="">
                <h3 class="project-text">Business Insights is a important piece of your business</h3>
                <div class="line"></div>
                <div class="read-more">
                    <a href="#">Read More <i class="fa-regular fa-arrow-up-right"></i></a>
                </div>
            </div>
        </div>
        <div class="project-button">
            <a class="btn-dark" href="#">All Recent Projects <i class="fa-regular fa-arrow-up-right"></i></a>
        </div>
    </div>
</section>