@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="signup-section">
    <div class="container">
        <h1 class="title">Get News Updates By Signup </h1>
        <div class="form-section">
            <form action="">
                <input
                    class="text-form" 
                    type="text" 
                    id="subscribe" 
                    placeholder="username@domain.com" />
            </form>
            <a class="btn-theme" href="">Subscribe <i class="fa-regular fa-arrow-up-right"></i></a>
            <img class="image" src="/src/images/background/background-wavy-lines.svg" alt="">
        </div>
    </div>
</section>