@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="team-section">
    <div class="container">
        <div class="upper-texts">
            <p class="red-text">Meet Our Team</p>
            <div class="btn-flex">
                <h1 class="team-title">Experience Team Members</h1>
                <a class="btn-theme" href="#">Browse Team <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="team-carusel">
            <div class="team-box">
                <img src="/images/pictures/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg" alt="">
                <h3 class="team-name">Kristine Palmer</h3>
                <p class="team-position">Chef Operation Officer</p>
            </div>
            <div class="team-box">
                <img src="/images/Pictures/itay-verchik-6ZKGBzrDd3I-unsplash.jpg" alt="">
                <h3 class="team-name">Mark Aubri</h3>
                <p class="team-position">Senior Consultant</p>
            </div>
            <div class="team-box">
                <img src="/images/pictures/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg" alt="">
                <h3 class="team-name">Kimberly Hansen</h3>
                <p class="team-position">Senior Consultant</p>
            </div>
            <div class="team-box">
                <img src="/images/pictures/the-connected-narrative-N8lRH2uxih4-unsplash.jpg" alt="">
                <h3 class="team-name">Justin Willoman</h3>
                <p class="team-position">Senior Tech Consultant</p>
            </div>
        </div>
        <div class="carousel-dots">
            <span class="dot"><i class="fa-duotone fa-circle"></i></span>
            <span class="dot"><i class="fa-duotone fa-circle"></i></span>
            <span class="dot"><i class="fa-solid fa-circle"></i></span>
            <span class="dot"><i class="fa-duotone fa-circle"></i></span>
            <span class="dot"><i class="fa-duotone fa-circle"></i></span>
        </div>
    </div>
</section>