@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="testimonial-section">
    <div class="container">
        <div class="testimonial-text">
            <p class="red-text">Testimonial</p>
            <h1 class="testimonial-title">What Our Client Says</h1>
        </div>
        <div class="review-boxes">
            <div class="review">
                <div class="review-star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="review-whom">
                    <img src="/src/images/vince-veras-AJIqZDAUD7A-unsplash.jpg" alt="">
                    <div class="name-position">
                        <h3 class="name-text">Cassandra Warren</h3>
                        <p class="red-text">Business Manager, Dorfus</p>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="review-star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="review-whom">
                    <img src="/src/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="">
                    <div class="name-position">
                        <h3 class="name-text">Amanda Tulling</h3>
                        <p class="red-text">Senior Developer, Square</p>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="review-star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="review-whom">
                    <img src="/src/images/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="">
                    <div class="name-position">
                        <h3 class="name-text">Jack McDogglas</h3>
                        <p class="red-text">Key Account Manager, Gobona</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-placement">
            <a class="btn-dark" href="">All Reviews <i class="fa-regular fa-arrow-up-right"></i></a>
        </div>
    </div>
</section>