@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="company-information">
    <div class="container"> 
        <div class="box-information">
            <div class="left">
                <i class="fa-sharp fa-solid fa-location-dot"></i>
            </div>
            <div class="right">
                <h1>Visit us</h1>
                <p>Sveavägen 31</p>
                <p>111 34 STOCKHOLM</p>
            </div>
        </div>
        <div class="box-information">
            <div class="left">
                <i class="fa-solid fa-phone"></i>
            </div>
            <div class="right">
                <h1>Call us</h1>
                <p>+46 (8) 121 470 50</p>
                <p>+46 (8) 121 470 51</p>
            </div>
        </div>
        <div class="box-information">
            <div class="left">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="right">
                <h1>Email us</h1>
                <p>info@crito.com</p>
                <p>support@crito.com</p>
            </div>
        </div>
    </div>
</section>