@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="form-section">
    <div class="container">
        <div class="form-title">
            <h1>Leave us a message for any information.</h1>
        </div>
        <form>
            <div class="form-text">
                <input
                    type="text"
                    placeholder="Name*"
                    >
            </div>
            <div class="form-text">
                <input
                    type="email"
                    placeholder="Email*"
                    >
            </div>
            <div class="form-text">
                <textarea
                    cols="30" 
                    rows="5"
                    type="text"
                    placeholder="Your Message*"></textarea> 
            </div>
            <a class="btn-theme btn" href="">Send Message <i class="fa-solid fa-arrow-up-right"></i></a>
        </form>
    </div>
</section>