@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="map-section">
    <iframe src="@Model.Value("googleMapUrl")" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>