@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="article-section">
    <div class="container">
        <div class="upper-texts">
            <p class="red-text">Article & News</p>
            <div class="btn-flex">
                <h1 class="team-title">Get Every Single Articles & News</h1>
            </div>
        </div>
        <div class="article-carusel">
            <a href="#" class="article-box">
                <img src="/images/pictures/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">How To Use Digitalization In The Classroom</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">25</h5>
                    <p class="month">Mar</p>
                </div>
            </a>
            <a href="#" class="article-box">
                <img src="/images/Pictures/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">How To Implement Chat GPT In Your Projects</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">17</h5>
                    <p class="month">Mar</p>
                </div>
            </a>
            <a href="#" class="article-box">
                <img src="/images/pictures/kobu-agency-ipARHaxETRk-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">The Guide To Support Modern CSS Design</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">13</h5>
                    <p class="month">Mar</p>
                </div>
            </a>
            <a href="#" class="article-box">
                <img src="/images/Pictures//the-climate-reality-project-Hb6uWq0i4MI-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">Why You Need To Implement The Five S's</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">12</h5>
                    <p class="month">Mar</p>
                </div>
            </a>
            <a href="#" class="article-box">
                <img src="/images/Pictures/damir-kopezhanov-nC6CyrVBtkU-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">Get More Involved With Your End Users</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">07</h5>
                    <p class="month">Mar</p>
                </div>
            </a>
            <a href="#" class="article-box">
                <img src="/images/Pictures/annie-spratt-FSFfEQkd1sc-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">Guided Tour Of Our New Head Office In Stockholm</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">02</h5>
                    <p class="month">Mar</p>
                </div>
            </a>
            <a href="#" class="article-box">
                <img src="/images/Pictures/carlos-muza-hpjSkU2UYSU-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">Using Business Intelligence To Get Insights Into Our Businesses</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">28</h5>
                    <p class="month">Feb</p>
                </div>
            </a>
            <a href="#" class="article-box">
                <img src="/Images/Pictures/marek-levak-zANXcXyByos-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">Apple Has Released New Products. Are They Any Good?</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">18</h5>
                    <p class="month">Feb</p>
                </div>
            </a>
            <a href="#" class="article-box">
                <img src="/Images/Pictures/oli-dale-xjSkI_seiZY-unsplash.jpg" alt="">
                <p class="article-name">Business</p>
                <h3 class="article-title">How To Improve Your Teams And Get A Better Result</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <div class="date-month">
                    <h5 class="date">11</h5>
                    <p class="month">Feb</p>
                </div>
            </a>
        </div>
    </div>
</section>