@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using Umbraco.Cms.Core.Models.PublishedContent;

<section class="article-section">
    <div class="container">
        <div class="upper-texts">
            <p class="red-text">Article & News</p>
            <div class="btn-flex">
                <h1 class="team-title">Get Every Single Articles & News</h1>
                <a class="btn-transparent" href="#">Browse Articles <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="article-carusel">
            
            


            @{
            	var selection = Umbraco?.Content(Guid.Parse("a066a701-8109-4f6a-9c80-f301ac56bd1c"))?
                .ChildrenOfType("newsItemPage")?
                .Where(x => x.IsVisible())
                .OrderByDescending(x => x.CreateDate).ToList();
            }

            @if(selection != null)
            {
                @foreach (var item in selection)
                {
                    var url = item.Url();
                    var date = item.CreateDate;
                    var image = item.Value<IPublishedContent>("newsImage");
                    var categories = item.Value


                    <a href="#" class="article-box">
                        <img src="/src/images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" alt="">
                        <p class="article-name">Business</p>
                        <h3 class="article-title">How To Use Digitalization In The Classroom</h3>
                        <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                        <div class="date-month">
                            <h5 class="date">25</h5>
                            <p class="month">Mar</p>
                        </div>
                    </a>


                    <li>
                        <a href="@item.Url()">@item.Name()</a>
                    </li>
                }
            }




            
            
            
        
            

        </div>

        <nav class="pagnation">
            <a href="#" class="item-link active">1</a>
            <a href="#" class="item-link">2</a>
            <a href="#" class="item-link link-next" aria-label="Next">
                <span aria-hidden="true"><i class="fa-sharp fa-solid fa-chevron-right"></i></span>
            </a>
        </nav>
        
    </div>
</section>